.orange-color{
    color: orange;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.flexi{
    display: flex;
}
p{
    text-align: justify;
}
.half-width{
    width 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2;
}
.half-width img{
    width: 80%;
}
.head-img{
    padding-top: 5%;
}
.link-button{
    background-image: linear-gradient(salmon,orange);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.middile-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.text{
    text-align: justify;
}
.box-shadow{
    box-shadow: 10px 10px 40px 10px gray;
    border-left: 10px solid black;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 40px;
    margin-bottom: 45px;
    margin-top: 10px;
    padding: 10px 40px 10px;
    
}
.th-bg{
    background-image: url("images/exp-bg.png");
    background-position: left;
    background-repeat: no-repeat;
}
footer{
    text-align: center;
}
    
